<table>
	<thead>
		<tr>
			<th>ID</th>
			<th>Nombre</th>
			<th>Precio</th>
			<th>Imagen</th>
		</tr>
		{{#each products}}
		<tr>
			<td>{{this.id}}</td>
			<td>
				<a href="/productos/{{this.id}}">
					{{this.title}}
				</a>
			</td>
			<td>{{this.price}}</td>
			<td>
				<div class="thumbnail">
					<img src={{this.thumbnail}} alt="">
				</div>
			</td>
		</tr>
		{{/each}}
	</thead>
</table>